
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'),
  url('src/assets/fonts/open-sans-v17-latin_cyrillic-300.woff2') format('woff2'),
  url('src/assets/fonts/open-sans-v17-latin_cyrillic-300.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans Regular'), local('OpenSans-Regular'),
  url('src/assets/fonts/open-sans-v17-latin_cyrillic-regular.woff2') format('woff2'),
  url('src/assets/fonts/open-sans-v17-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'),
  url('src/assets/fonts/open-sans-v17-latin_cyrillic-italic.woff2') format('woff2'),
  url('src/assets/fonts/open-sans-v17-latin_cyrillic-italic.woff') format('woff');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans SemiBold'), local('OpenSans-SemiBold'),
  url('src/assets/fonts/open-sans-v17-latin_cyrillic-600.woff2') format('woff2'),
  url('src/assets/fonts/open-sans-v17-latin_cyrillic-600.woff') format('woff');
}


@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'),
  url('src/assets/fonts/open-sans-v17-latin_cyrillic-700.woff2') format('woff2'),
  url('src/assets/fonts/open-sans-v17-latin_cyrillic-700.woff') format('woff');
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'),
  url('src/assets/fonts/roboto-v20-latin_cyrillic-300.woff2') format('woff2'),
  url('src/assets/fonts/roboto-v20-latin_cyrillic-300.woff') format('woff');
}


@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: local('Roboto Medium'), local('Roboto-Medium'),
  url('src/assets/fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'),
  url('src/assets/fonts/roboto-v20-latin_cyrillic-500.woff') format('woff');
}


@font-face {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 600;
  src: local('Proxima Nova'), local('Proxima Nova'),
  url('src/assets/fonts/ProximaNova-Bold.woff2') format('woff2'),
  url('src/assets/fonts/ProximaNova-Bold.woff') format('woff');
}
