//----header-colors-----//
$headerLogoColor: #FFFFFF;
$headerNavsColor: #FFFFFF;
$headerActiveNavColor: #0DC78F;
//----------------------//

//----main-colors------//
$mainBgColor: #141414;
$mainFontColor: #fff;
//---------------------//

//-----banner-comp-colors---//
//----title---
$bannerHeaderColor: #FFFFFF;
//----content--
$bannerContentColor: #F7F3F2;
//--------------------------//

//-----slider-comp-colors----//
$sliderContentColor: #FBFBFB;
//---------------------------//

//-----medias-comps-colors---//
$mediaHeaderColor: #FFFFFF;
//----items----
//----item-title-color----
$mediaTitleColor: #FBFBFB;
//----item-content-color--
$mediaContentColor: #ADADAD;
//---------------------------//

//-----features-comp-colors---//
//----title-----
$featuresHeaderColor: #FFFFFF;
//----items-----
$featuresTitleColor: #FFFFFF;
$featuresContentColor: #ADADAD;
//----------------------------//

//-----markets-comp-colors----//
$marketsTitleColor: #FBFBFB;
//----------------------------//

//-----footer-color-----------//
$footerContentColor: #ADADAD;

//-----button-colors----//
$btnBgColor: #0DC78F;
$btcColor: #fff;
//----------------------//
